<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Hello2Servlet</servlet-name>
        <servlet-class>com.swufe.javaee.myservlet.Hello2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello2Servlet</servlet-name>
        <url-pattern>/hello2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hello2Servlet</servlet-name>
        <url-pattern>/good/*</url-pattern>
    </servlet-mapping>
    
    
    <error-page>
        <location>/404.html</location>
    </error-page>
</web-app>