<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<h1>Dashboard</h1>
<p>Hello, <span th:text="${session.user.name}"></span></p>
<div th:object="${session.user}">
    <p>Name: <span th:text="*{name}">age@gmail.com</span></p>
    <p>Age: <span th:text="*{age}">0</span></p>
    <p>Message:
        <span th:text="*{age >= 18}? 'You can vote now':'Sorry, next year'">
            vote message
    </span></p>
</div>
</body>
</html>